<!DOCTYPE html>
<html>
    <head>
        <title><%= typeof title == "undefined" ? "Home" : title %></title>

        <link rel="stylesheet" href="./css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="./font-awesome-4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="./css/style.css" />
        
        <script src="./js/vue.global.js"></script>

    </head>

    <body>

        <input type="hidden" id="base-url" value="../.." />

        <script>
            var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
            const baseUrl = document.getElementById("base-url").value;
        </script>

        <%

            months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

            formatBytes = function(bytes, decimals = 2) {
                if (bytes === 0) return '0 Bytes';

                const k = 1024;
                const dm = decimals < 0 ? 0 : decimals;
                const sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];

                const i = Math.floor(Math.log(bytes) / Math.log(k));

                return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];
            };
        %>

        <!-- top nav bar -->
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand company" href="../.." style=" font-size: 35px; color: rgb(61 69 114);">Sky-Vault</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" style="color: rgb(61 69 114);" href="../..">Home <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" style="color: rgb(61 69 114);" href="../../MyUploads">Uploads</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: rgb(61 69 114);" href="../../MySharedLinks">Shared</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" style="color: rgb(61 69 114);" href="../../price">Plans</a>
                    </li>

                    <% if (request.isLogin) { %>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" style="color: rgb(61 69 114);" href="#" style="color: white;" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <%= request.session.user.name %>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: transparent; backdrop-filter: blur(90px); border: none;">
                                <a class="dropdown-item" href="../../Logout" style="color: rgb(61 69 114);">Log out</a>
                            </div>
                        </li>
                    <% } else { %>
                        <li class="nav-item">
                            <a class="nav-link" style="color: rgb(61 69 114);" href="../../Login">Login</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" style="color: rgb(61 69 114);" href="../../Register">Register</a>
                        </li>
                    <% } %>
                </ul>

                <!-- search field -->
                <form class="form-inline my-2 my-lg-0" method="GET" action="../../Search">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" name="search" value="<%= request.query.search %>" />
                    <button class="btn btn-outline-success my-2 my-sm-0" style="color: rgb(61 69 114);" type="submit">Search</button>
                </form>
            </div>
        </nav>