<%- include ("includes/header", {
   "title": "Login"
}) %>
<div class="background" style="position: absolute; z-index: -1;"></div>
    <div  class="container glass logreg" style="margin-top: 100px; max-width: 500px; border-radius: 25px; height: 70vh;">
        <%- include ("includes/ResponseAlert", {
            "request": request
        }) %>

        <div class="row">
            <div class="col-md-12 header" style="background-color: #50d8d7;
            background-image: linear-gradient(180deg, #489292 0%, #bd56be 74%); color: white;">
                <h1>HELLO & WELCOME</h1>
                <p>Unlock a world of possibilites by logging into your account.</p>
            </div>
            <div class="col-md-12 inputs">
                <form action="/Login" method="POST">
                    <div class="form-group">
                        <label style=" font-weight: 900; font-size: 20px;">Email</label>
                        <input type="email" placeholder="Enter email" name="email" style="background-color: transparent; color: white;" class="form-control" required />
                    </div>

                    <div class="form-group">
                        <label style=" font-weight: 900; font-size: 20px;">Password</label>
                        <input type="password" placeholder="Enter password" name="password" style="background-color: transparent; color: white;" class="form-control" required />
                    </div>

                    <label for="check" style="color: aliceblue; max-width: 80%;"><input type="checkbox" name="check" required> By logging in, you agree to our <a href="#" class="terms">Terms of Services</a> and <a href="#" class="terms">Privacy Policy</a>.</label>
                    <input type="submit" value="Login" class="login_btn"/>
                    <!-- <input type="submit" value="Login" class="btn btn-primary" /> -->
                </form>
            </div>
        </div>
    </div>
<!-- </div> -->
<%- include ("includes/footer") %>